<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
        id="patrFS"
        name="Patr File System"
        point="org.eclipse.core.filesystem.filesystems">
        <filesystem scheme="pfs">
            <run class="patrick.hechler.de.pfs.ecl.PatrECLFileSystem"/> 
        </filesystem> 
    </extension>

</plugin>
